customer/node_modules
customer/.next/
customer/out/
customer/build

customer/.env*
customer/!.env.example

admin/node_modules
admin/.next/
admin/out/
admin/build

admin.env*
admin/!.env.example


core/dist
core/node_modules
core/build

core/.env
core/!.env.example